.container{
    
    background-color:rgb(206, 234, 250);
    text-align: center;
}

.sub-cont {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rows {
   
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 6px;
}
img {
    height: 300px;
    min-width: 200px;
    margin: 6px;
 }
 #row1 {background-color: aqua;}
 #row2 {background-color: pink;}
 #row3 {background-color: white;}

 h1 { font-family:system-ui;}
