.container{
    height: 950px;
   
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.sub-cont {
    
    background-color: aliceblue;
    margin: 0px auto;
    padding: 20px;
}
.rows {
    width: 610px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 200px;
    width: auto;
    margin: 6px;
 }
 #row1 {background-color: aqua;}
 #row2 {background-color: pink;}
 #row3 {background-color: white;}

 h1 { font-family:system-ui;}
